<template>
  <div class="row navbar">
    <div class="columns medium-4 navbar-logo">
      <h4 class="navbar-logo--text">Pikablue</h4>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navbar',

  data() {
    return {};
  },
};

</script>

<style>
  .navbar {
    max-width: 100%;
    text-align: left;
    background-color: #687A8F;
    padding: 0.5rem;
  }
  .navbar-logo--text {
    color: #fefefe;
  }
</style>
