<template>
  <div class="container stats">
    <h1>Super-duper IVs calculator</h1>
    <form class="input-group" v-on:submit="getStats">
      <div class="col-lg-12 stats--searchbar input-group">
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Pokemon name or ID..." v-model="poke_id">
        </div>
        <div class="col-lg-3">
          <input type="text" placeholder="level" class="form-control" v-model="level">
        </div>
        <div class="col-lg-3">
          <select name="natures_list" class="form-control">
            <option  v-for="n in r_natures"> {{ n.name }} </option>
          </select>
        </div>
          
      </div>
      <div class="col-lg-3">
        <h4>Your Pokemon stats:</h4>
          <input type="text" class="form-control" v-model="stats.hp">
          <input type="text" class="form-control" v-model="stats.attack">
          <input type="text" class="form-control" v-model="stats.defense">
          <input type="text" class="form-control" v-model="stats.s_attack">
          <input type="text" class="form-control" v-model="stats.s_defense">
          <input type="text" class="form-control" v-model="stats.speed">
      </div>
      <div class="col-lg-3">
        <h4>Your Pokemon EVs:</h4>
          <input type="text" class="form-control" v-model="ev.hp">
          <input type="text" class="form-control" v-model="ev.attack">
          <input type="text" class="form-control" v-model="ev.defense">
          <input type="text" class="form-control" v-model="ev.s_attack">
          <input type="text" class="form-control" v-model="ev.s_defense">
          <input type="text" class="form-control" v-model="ev.speed">
      </div>
      <div class="col-lg-3">
        <h4>Your Pokemon base stats:</h4>
        <div v-for="r in r_stats">
          <span><strong> {{ r.stat.name }}: </strong></span>
          <span> {{ r.base_stat }} </span>
        </div>
      </div>
      <div class="col-lg-3">
        <h4>Who's that pokemon?</h4>
        <img :src="sprite" />
      </div>
      <div class="col-lg-12 stats--searchbar input-group">
        <button class="btn" type="submit">Submit!</button> <br /> <br />
        <span>Your pokemon stats in total: <strong> {{ total }} </strong></span>
      </div>
    </form>

  </div>
</template>

<script>
  export default {
    name: 'stats',

    beforeMount: function() {
      let url = 'http://127.0.0.1:8000/api/v2/nature/';
        this.$http.get(url).then(response => {
        this.r_natures = response.body['results'];
      })
    },

    data() {
      return {
        r_stats: [],
        r_natures: [],
        poke_id: [],
        nature: '',
        level: null,
        sprite: 'http://cdn.bulbagarden.net/upload/8/8e/Spr_3r_000.png',

        ev: {
          hp: 0,
          attack: 0,
          defense: 0,
          s_attack: 0,
          s_defense: 0,
          speed: 0,
        },
        stats: [],
        total: ' ',
      }
    },

    methods: {
      getSprite: function() {
        return this.sprite();
      },

      getStats: function(e) {
        e.preventDefault();

          let url = 'api/pokes/' + this.poke_id;
          this.$http.get(url).then(response => {
              if (response.status == 200) {
                this.r_stats = response.body;
                this.calcStats();
              }
          });
          
          let url2 = 'api/sprite/' + this.poke_id;
          this.$http.get(url2).then(response => {
                this.sprite = response.body;
          });
      },

      calcStats: function() {
      /* get stat points in total */
        let stats = Object.values(this.stats);
        stats = stats.map( (i) => {
          let x = Number(i.trim());
          return x;
        })
        // stats = stats.reduce( (a, b) => a + b );
        // this.total = stats;
        // this.stats = [];

      /* calculate HP individual value */
        let hp_iv = 0;
        let our_hp = stats[0];
        let base_hp = this.r_stats[0].base_stat;
        let ev_hp = this.ev.hp;
        let level = this.level;
        
        hp_iv = Math.round(((our_hp - 10) * 100) / level - 2 * base_hp - ev_hp / 4 - 100);
        console.log(hp_iv);
      }
    },
  }
</script>

<style scoped>
    .stats--searchbar, .stats--list {
      padding: 2em;
    }
</style>